.ProductForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ProductForm-Input {
  width: 300px;
}

.ProductForm-Input {
  padding: 8px;
  margin-bottom: 16px;
}

.ProductForm>.Button {
  margin-top: 24px;
}